@font-face {
  font-family: Quicksand;
  src: url(Quicksand-Regular.ttf);
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}
.nav{
	background-color: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	border-bottom-right-radius: 4%;
	border-bottom-left-radius: 4%;
}
.nav .button-container {
	padding: 1vw;
	margin-right: 2vw;
	display: inherit;
}
.nav .button-container button{
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	padding: 10px;
}
.nav .button-container button:hover{
	color: #f80009;
	border-radius: 5px;
	padding: 10px;
}
.nav #logo{
	margin-left: 2vw;
}
#main{
	background-image: url('../img/back2.jpg');	
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

}
#square{
	background-color: #f80009;
	width: 30vw;
	height: 30vw;
	border-radius: 10px;
	margin-left: 10vw;
	margin-top: 10vh;  
	display: flex;
	flex-direction: column-reverse;
	align-content: flex-end;
	padding: 1vw;
}
@keyframes foguete{
	0% {left:0vw; bottom:0vh;}
	100% {left:60vw; bottom:70vh;}
}
#foguete{
	left:60vw; bottom:70vh;
	position: relative;
	transform: rotate(45deg);
	width: 420px;
	height: 420px;
	transform: rotate(45deg);
	animation-name: foguete;
	animation-duration: 3s;
	animation-timing-function: linear;	

}
#main-text{
	color: #fff;
}
#main-text #p-1{
	font-size: 5vh;
}
#main-text #p-2, #p-3, #p-4{
	font-size: 10vh;
	font-weight: bold;
}
#page2{
	background-color: #2a2a2e;
	width: 100vw;
	height: 100vh;
}
#planos{
	background-color: #f80009;
	width: 90vw;
	height: 60vh;
	border-radius: 10px;
	margin: auto;
	margin-top: 30vh;  
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2vw;
	box-shadow: 0 0 200px rgba(0,0,0,0.5);
}
#planos-header{
	color: #fff;
	
}
#planos-box{
	border-radius: 5px;
	background-color: #fff;
	width: 20vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	padding: 2vw 0;
	font-size: 10vh;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
#valores-box{
	border-radius: 5px;
	background-color: #f80009;
	width: 18vw;
	height: 15vh;
	margin: auto;
	color: white;
	font-size: 7vh;
	display: flex;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#velocidade{
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	margin: auto;
}