*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}
.nav{
	background-color: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	border-bottom-right-radius: 4%;
	border-bottom-left-radius: 4%;
}
.nav .button-container {
	padding: 1vw;
	margin-right: 2vw;
	display: inherit;
}
.nav .button-container button{
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	padding: 10px;
}
.nav .button-container button:hover{
	color: #f80009;
	border-radius: 5px;
	padding: 10px;
}
.nav #logo{
	margin-left: 2vw;
}
#main{
	background-color: #2a2a2e;
	width: 100vw;
	height: 100vh;
	box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

}
#square{
	background-color: #f80009;
	width: 30vw;
	height: 30vw;
	border-radius: 10px;
	margin-left: 10vw;
	margin-top: 10vh;  
	display: flex;
	flex-direction: column-reverse;
	align-content: flex-end;
	padding: 1vw;
}
@keyframes foguete{
	0% {left:0vw; bottom:0vh;}
	10% {left: 10vw; bottom: 10vh;}
	20% {left:20vw; bottom:20vh;}
	30% {left: 30vw; bottom: 30vh;}
	40% {left: 40vw; bottom: 40vh;}
	50% {left: 50vw; bottom: 50vh;}
	60% {left: 60vw; bottom: 60vh;}
	70% {left: 70vw; bottom: 70vh;}
	80% {left: 80vw; bottom: 80vh;}
	90% {left: 90vw; bottom: 90vh;}
	100% {left:100vw; bottom:100vh;}
}
#foguete{
	position: relative;
	transform: rotate(45deg);
	width: 180px;
	height: 180px;
	transform: rotate(45deg);
	animation-name: foguete;
	animation-duration: 2.5s;
}
#main-text{
	color: #fff;
}
#main-text #p-1{
	font-size: 5vh;
}
#main-text #p-2, #p-3, #p-4{
	font-size: 10vh;
	font-weight: bold;
}
#page2{
	background-color: #f80009;
	width: 100vw;
	height: 100vh;
}